/* FONTE */

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

.white{
    color: white;
    
}
body{
    font-family: 'ABeeZee', sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #a5a5a5a5;
    
}

img{
    padding: 10px;
    border-radius: 20px;
    
}
.img-redes :hover{
    color: blue;

}
p{
    text-align: justify;
}
a{
    text-decoration: none;
}
.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto ;
    margin-bottom: 70px;
    

}


#header{
    display: flex;
    justify-content: center;
    background-color: rgb(45, 39, 51);
}

.menu{
    display: flex;

}

.menu li{
    margin-left: 15px;
    list-style: none;


}
.menu li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.menu li a:hover {
    color:black;
}

#rodape{
    background-color: rgb(45, 39, 51);
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
    bottom: 0px;
    position: fixed;

    
}

.molde-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 39, 51);
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    
    
}

.titulo{
    background-color: rgb(45, 39, 51);
    color: white;
    text-align: center;
    width: 100%;
}
.titulo:hover{
    color: rgba(255, 255, 255, 0.315);
}
.proj{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 39, 51); 
    border-radius: 20px;
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.maisproj{
    background-color: rgb(45, 39, 51); 
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

a:hover{
    color: rgba(255, 255, 255, 0.479);
}

.imgefeito{
    transform: scale(100px, 200px);
}

.redesociais{
    display: flex;
    flex-wrap: wrap;
}